@CHARSET "UTF-8";

body, p, form {
	border: 0px;
	margin: auto;
	padding: 0px;
}

.spacer {
	clear: both;
	height: 70px;
}

#myform {
	margin: 10px;
	width: 650px;
	padding: 14px;
	border-radius: 7px;
	padding: 0px;
	margin: 0px;
}

#title {
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
	font-family: nanumgothic, dotum;
	color: white;
	background-color: #bcbcbc;
}

#myform {
	margin: auto;
}

#myform label {
	display: block;
	font-weight: bold;
	text-align: right;
	width: 160px;
	float: left;
	font-family: nanumgothic, dotum;
	color: #545454;
}

.inputbox {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #D2E9FF;
	width: 400px;
	margin: 2px 0 20px 30px;
	box-shadow: 1px 1px 10px 2px #EAEAEA;
	border-radius: 5px;
}

.inputbox_half {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #D2E9FF;
	width: 200px;
	margin: 2px 0 20px 30px;
	box-shadow: 1px 1px 10px 2px #EAEAEA;
	border-radius: 5px;
}

.inputbox_100 {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #D2E9FF;
	width: 100px;
	margin: 2px 0 20px 30px;
	box-shadow: 1px 1px 10px 2px #EAEAEA;
	border-radius: 5px;
}

.inputbox_file {
	float: left;
	font-size: 12px;
	width: auto;
	margin: 0 0 20px 30px;
	color: #000000;
}

#myform textarea {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #D2E9FF;
	width: 400px;
	height: 300px;
	margin: 2px 0 20px 30px;
	box-shadow: 1px 1px 10px 2px #EAEAEA;
	border-radius: 5px;
	resize: none;
}

#myform select {
	float: left;
	width: 150px;
	padding: 4px 2px;
	border: solid 1px #D2E9FF;
	margin: 2px 0px 20px 30px;
	box-shadow: 1px 1px 10px 2px #EAEAEA;
	border-radius: 5px;
}

#jump {
	height: 15px;
}

.biz_write_btn_nsk {
	height: 35px;
	text-align: center;
	line-height: 35px;
	background-color: #3397e2;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	font-family: nanumgothic, dotum;
	display: inline-block;
	border-radius: 0.35em;
	letter-spacing: 0.20em;
	text-decoration: none;
	color: #FFF;
	border: 9;
	outline: 0;
	cursor: pointer;
}

.biz_write_btn_nsk:hover{
	background-color: #5CD1E5;
}