	
	/* 친구 목록 나오는 영역 */
	.friend-area{
		float: right;
		width: 170px;
		border: 1px solid #c1c1c1;
		padding: 0px 0px 10px 0px;
		margin-left: 10px;
		background-color:#f1f3f5;
	}
	@media screen and (max-width:480px){
		.friend-area{
			float: none;
			width: 480px;; height: auto;
			border: 1px solid #c1c1c1;
			
		}
	}
	
	.update-area{
	margin-top:10px;
	font-size: 10pt;
	font-weight:bold;
	color: #66696a;
	text-align: center;
	}
	
	.friend-info a:HOVER{
	color: #bd5a35;
	}
	
	.update-area img{
	vertical-align: bottom;
	}
	
	.friend-info{
		font-size: 10pt;
		color: #66696a;
		padding: 3px 10px 3px 10px;
	}
	
	/* 사진 나오는 부분 */
	.friend-info img{
		vertical-align:middle;
		margin-right: 5px;
	}
	/* 친구 검색하는 부분 */
	.friend-search{
		margin-top: 70px;
	}
	.friend-search input{
		border: none;
		width:126px; height: 20px;
		border-right: 1px solid #cdcdcd;
		border-top: 1px solid #cdcdcd;
		padding-left: 5px;
		outline: none;
	}
	
	.friend-search .friend-search-button{
		width: 40px; height: 23px;
		padding: 0px;
		margin-left: -5px;
		border: none;
		background-color: darkgray;
		color: white;
		font-size: 10pt;
		font-weight: bold;
		vertical-align: middle;
	}
	.friend-search .friend-search-button:hover{
		background-color: #292f33;
	}