/* 상단에 다음글 보기와 목록보기 */
.qna_detail_button1{
	float: left;
}
.qna_detail_button1 input{
	cursor : pointer;
}
.qna_detail_button2{
	float: right;
}
.qna_detail_button2 input{
	cursor : pointer;
}

/* 작성글 디테일보기 나오는 영역 */
.qna_detail_content{
	border-radius: 4px;
	border: 1px solid #c1c1c1;
	background-color: white;
	margin-top: 10px;
	padding: 10px;
}
/* 제목 밑에 점선 나오는 부분 */
.qna_detail_underline{
	border-bottom:1px dashed #c1c1c1;
	height: 25px;
}
/* 제목 왼쪽으로 붙여서 나오게 하기 */
.qna_detail_subject1 div{
	float: left;
	margin-right: 10px;
}
/* 작성날짜, 수정, 삭제 버튼 오른쪽으로 붙어서 나오게 하기 */
.qna_detail_subject2 div{
	float:right;
	margin-left: 10px;
}
/* 아이디 나오는 부분 왼쪽으로 붙이기 */
.qna_detail_writeuser{
	float: left;
}
/* 첨부파일 나오는 부분 오른쪽으로 붙이기 */
.qna_detail_file{
	float: right;	
}
/* 내용 나오는 곳 밑에 댓글 영역과 나누어 주는 밑줄 */
.qna_detail_underline2{
	margin-top: 70px;
	border-bottom: 1px solid #c1c1c1;	
	margin-bottom: 7px;
}
/* 조회수, 댓글수, 최신순 영역 */
.qna_detail_reply_info{
	font-size: 9pt;
	color: #5D5D5D;	
}
/* 리플나오는 영역 */
.qna_detail_reply_area{
	background-color: #F6F6F6;
	margin-top: 7px;
	padding: 15px;
}
/* 리플 내용 나오는 부분 */
 .qna_detail_reply_print{
 	border-bottom: 1px solid #c1c1c1;
 	padding: 7px 0px 10px 0px;
 }
/* 리플 작성하는 영역 */
.qna_detail_reply_write{
	margin: 10px 0px 10px 0px;
}
/* 리플 쓰는 인풋 상자 */
.qna_detail_reply_write_text{
	width: 596px;
	height: 80px;
	box-sizing : border-box;
	vertical-align: middle;
}
/* 리플쓰기 버튼 */
.qna_detail_reply_write_button{
	box-sizing : border-box;
	width: 95px;
	height: 80px;
	vertical-align: middle;
	cursor : pointer;
}
/* 수정, 삭제, 목록 버튼 */
.qna_detail_button_collection {
	float: right;
	margin: 15px 0px 15px 0px;
}
.qna_detail_button_collection input{
	background-color: white;
	font-size: 8pt;
	margin-left: 2px;
	width: 50px;
	height: 25px;
	border: 1px solid #c1c1c1;
	outline: none;
	cursor: pointer;
	box-sizing : border-box;
}

/* 다음글, 이전글 나오는 부분 */
.qna_detail_prevNext{
	margin-top: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 4px;
	border: 1px solid #c1c1c1;
}

/* 모달을 띄우기 위한 스타일시트 */
#qna_mask{
	position:absolute;  
	z-index:9000;  
	background-color:black;  
	display:none;  
	left:0;
	top:0;
}
.qna_delete_modal1{
	width: 200px;
	height: 100px;
	background-color: white;
	border-radius: 4px;
	display: none;
	position:fixed;  
	left:40%;
	top:40%;
	z-index:10000;
}
.qna_delete_modal2{
	width: 200px;
	height: 100px;
	background-color: white;
	border-radius: 4px;
	display: none;
	position:fixed;  
	left:40%;
	top:40%;
	z-index:10000;
}

/* 댓글의 댓글을 작성하는 인풋 상자 */
.qna_re_re_text{
	width: 400px;
	height: 25px;
	box-sizing : border-box;
	padding-left: 5px;
}
#qna_re_re_button{
	width: 60px;
	height: 25px;
	font-size: 8pt;
	margin-left: 5px;
	cursor : pointer;
}
#qna_re_edit_button{
	width: 60px;
	height: 25px;
	font-size: 8pt;
	margin-left: 5px;
	cursor : pointer;
}


/*삭제버튼*/
.qna_delete{
	cursor : pointer;
}







