
/*****************************/
/* 여기는 컨텐츠 영역입니다. */
/* 현제 위치 알려주는 라벨 영역*/
.qna_list_content_label_area{
	overflow: hidden; 
	height: 50px; width: 750px;
	margin-bottom: 20px;
	background-color: gray;
	font-size: 11pt;
}

/* 현제위치 알려주는 글자와 글자 영역 */ 
.qna_list_content_label{
	width: 100px; height: 100px;
	border: 5px solid #e9eaed;
	transform:rotate(45deg);
	margin-top: -30px;
	margin-left: -10px;
	float: left;
	color: white;
}
.qna_list_content_label div{
	line-height: 100px;
	transform:rotate(-45deg);
	color: white;
}
.qna_list_content_label1{
	width: 100px;
	float: left;
	line-height: 50px;
	padding-left: 40px;
	color: white;
}

/* 내용나오는 테이블 제어 */
.qna_list_content_table tr:first-child td{
	color: green;
	height: 40px;
	text-align: center;
}
.qna_list_content_table tr:nth-child(odd){
	background-color: white;
}
.qna_list_content_table td{
	height: 30px;
	text-align: center;
}
.qna_list_content_table td:first-child{
	text-align: left;
	padding-left: 20px;
	cursor : pointer;
}

/* 테이블 밑에 숫자 나오는 것 */
.qna_list_content_number{
	
}
.qna_list_content_number ul{
	display: table;
	margin: auto;
	padding: 20px 0px 20px 0px;;
}
.qna_list_content_number li{
	float:left;
	margin: 5px 5px 5px 5px;
	width: 30px; height: 30px;
	background-color: gray;
	border-radius: 15px;
	line-height: 30px;
	text-align: center;
	color: white;
	cursor : pointer;
} 
.qna_list_content_number li>a{
	color: white;
}
/* 컨텐츠 영역 하단에 검색하는 부분 */
.qna_list_content_searcharea{
	margin: auto;
} 








