		@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
		@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
		
		body{
			margin: auto; font-family: Nanum Gothic, sans-serif;
		}
		#content-title{
			text-align: center; background-color: #c3def4;
			height: 100px; line-height: 100px;
			color: #0f4f84; text-align: center;
			margin-bottom: 45px;
		}
		/* 프로필 사진과 이름 등 나오는 부분 */
		#pic{
			float:left;
			width: 200px; height: 273px;
			background: gray;
			margin-left: 30px;
			text-align: center; line-height: 250px;
		}
		#present{
			clear: both;
			display: inline;
		}
		#present ul{
			width: 300px; margin-left: 210px;
		}
		#present li{
			margin-top: 15px;
			
		}
		.a1{
		padding-top: 100px;
		padding-top: 20px;
		}
		#present li:first-child{
			font-size: 24pt; 
			font-family: 'Jeju Gothic', sans-serif;
			margin-top: 30px;
		}
		#present li:last-child{
			font-family: 'Jeju Gothic', sans-serif;
			margin-top: 60px; margin-bottom: 20px;
		}
		
		/* 프로필 사진과 이름 등 나오는 부분 끝*/
		
		/* 최종학력 나오는 부분 */
		#adu{
			margin-left: 30px;
			margin-top: 200px;
			font-size: 16pt; font-weight: bold;
			color: gray; font-style : italic;
		}
		table{
			width: 620px; font-size: 10pt;
			color: #303030; text-align: center;
			margin-top: 5px; border-collapse: collapse;
		}
		th{
			font-size: 11pt; font-style : normal;
			font-weight: bold;
			color: #21345e;
			padding: 10px 8px;
			border-bottom: 2px solid #6678b1;
		}
		td{
			border-bottom: 1px solid #ccc;
			color: #545454; font-style : normal;
			padding: 17px 8px;
		}
		#adu #year{
			width: 30px; font-size: 9pt; padding:0px 3px 0px 3px;
		}
		#adu #month{
			width: 15px; font-size: 9pt;
		}
		#adu #type-a{
			width: 72px; color: gray;
			margin-top: 5px;
		}
		#adu #check1{
			margin-top: 5px;
		}
		#adu #option4{
			width: 140px; color: gray;
			margin-bottom: 21px;
		}
		#adu #yearing{
			width: 173px; margin-top: 5px;
			color: gray;
		}
		#adu #hakgha{
			margin-top: 5px;
			width: 136px; margin-top: -16px;
		}
		/* 최종학력 나오는 부분 끝*/
		
		/* 경력사항 나오는 부분 */
		#carr{
			margin-left: 30px;
			margin-top: 70px;
			font-size: 16pt; font-weight: bold;
			color: gray; font-style : italic;
		}
		#carr #year{
			width: 30px; font-size: 9pt; padding:0px 3px 0px 3px;
		}
		#carr #month{
			width: 15px; font-size: 9pt;
		}
		/* 경력사항 나오는 부분 */
		
		/* 관심분야 나오는 부분 */
		#inter{
			margin-left: 30px;
			margin-top: 70px;
			font-size: 16pt; font-weight: bold;
			color: gray; font-style : italic;
		}
		/* 관심분야 나오는 부분 끝*/
		
		/* 희망 취업지역 나오는 곳 */
		#local{
			margin-left: 30px;
			margin-top: 70px;
			font-size: 16pt; font-weight: bold;
			color: gray; font-style : italic;
		}
		#local #local-table{
			width: 450px; margin-left: 30px;
		}
		#local #local-table td{
			border-bottom: 0px solid #6678b1;
			text-align: left; width: 80px;
			padding: 8px 5px;
		}
		/* 희망 취업지역 나오는 곳 끝*/
		
		/* 자격증정보 나오는 곳 */
		#lisen{
			margin-left: 30px;
			margin-top: 70px;
			font-size: 16pt; font-weight: bold;
			color: gray; font-style : italic;
		}
		#lisen #year{
			width: 30px; font-size: 9pt; padding:0px 3px 0px 3px;
		}
		#lisen #month{
			width: 15px; font-size: 9pt;
		}
		/* 자격증정보 나오는 곳 끝*/
		
		/* 외국어 관련 */
		#lang{
			margin-left: 30px;
			margin-top: 70px;
			font-size: 16pt; font-weight: bold;
			color: gray; font-style : italic;
		}
		#lang #year{
			width: 30px; font-size: 9pt; padding:0px 3px 0px 3px;
		}
		#lang #month{
			width: 15px; font-size: 9pt;
		}
		/* 외국어 관련  끝*/
		
		/* 자기소개 구역 */
		#intro{
			margin-left: 30px;
			margin-top: 70px;
			font-size: 16pt; font-weight: bold;
			color: gray; font-style : italic;
		}
		/* 자기소개 구역 끝*/
		
		/* 전송버튼 */
		#enter{
			margin-left: 30px;
			margin-top: 70px;
			font-size: 16pt; font-weight: bold;
			color: gray; font-style : italic;
		}
		#enter #submit{
			background-color: #3397e2;
			width: 200px; height: 50px;
			color: white; font-size: 13pt;
			font-weight: bold; border-radius: 7px;
			border: 0px; cursor : pointer;
		}
		.spacer {
			clear: both;
			height: 70px;
		}
		/* 전송버튼 끝*/